<a href="https://colab.research.google.com/github/Mucahit-A/python-files/blob/main/phyton_addict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = input("")
result = int(num) + int(num*2) + int(num*3)
print(result)

8
984

In [ ]:
mystr = " My name is  22  Michele"
list_str = mystr.split()
list_str.reverse()
print(*list_str)

Michele 22 is name My

In [ ]:
name = "my name is Mic"
name = name.split()
print(*name[::-1])

Mic is name my

In [ ]:
s1 = int(input())
s2 = int(input())
s3 = int(input())

if s1 == s2 or s1 == s3 or s2 == s3:
  print("zero")
else :
  print(s1 + s2 +s3)

5
5
5
zero

In [ ]:
n1 = int(input())
n2 = int(input())

if 15<= n1+n2 <=20 :
  
  print(n1+n2)

8
9
17

In [ ]:
sayi1 = int(input())
sayi2 = int(input())

if sayi1==sayi2 or (((sayi1 + sayi2) and (sayi1 - sayi2)) == 5):
  print(True)

5
0
True

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if (a < b-c or a < c-b) or (b < a-c or b < c-a) or (c < a-b or c < b-a):
  print("NOT TRIANGLE")
else:
  print("THIS IS TRIANGLE")

3
4
5
THIS IS TRIANGLE

In [ ]:
kenarlar = list(map(int, input("").split()))
if (a < b-c or a < c-b) or (b < a-c or b < c-a) or (c < a-b or c < b-a):
  print("NOT TRIANGLE")
else:
  print("THIS IS TRIANGLE")

3 4 5
THIS IS TRIANGLE

In [ ]:
sides = list(map(int, input("").split()))
if (a < b-c and a < c-b) and (b < a-c and b < c-a) and (c < a-b and c < b-a):
  print("NOT TRIANGLE")
else:
  print("THIS IS TRIANGLE")

7 8 9
THIS IS TRIANGLE

In [ ]:
liste = [1,2,3,4,5]
def topla(x):
     return x+10
sonuc = map(topla,liste)
print(list(sonuc))
#[11, 12, 13, 14, 15]

[11, 12, 13, 14, 15]

In [ ]:
str1 = "JhonDipPeta"
str2 = "JaSonAy"

print(str1[4:7], str2[2:5])

Dip Son

In [ ]:
ad_soyad = input("adinizi soyadinizi giriniz: ")
yeni = ad_soyad.title()
print(yeni)

adinizi soyadinizi giriniz: Ali kara
Ali Kara

In [ ]:
deger = input()
deger1 = input()
if deger.isnumeric() and deger1.isnumeric():
  print(int(deger) + int(deger1))
else:
  print("gecersiz")

on
bir
gecersiz

In [ ]:
list = [["FB", "BJK", "GS", "TS"]]
print(list[0])
print(list[-1])
print(list[::])
print(list[0:4])
print(list[::])
print(list[0:555555])
print(min(list))
print(max(list))
print(list.pop())

['FB', 'BJK', 'GS', 'TS']
['FB', 'BJK', 'GS', 'TS']
[['FB', 'BJK', 'GS', 'TS']]
[['FB', 'BJK', 'GS', 'TS']]
[['FB', 'BJK', 'GS', 'TS']]
[['FB', 'BJK', 'GS', 'TS']]
['FB', 'BJK', 'GS', 'TS']
['FB', 'BJK', 'GS', 'TS']
['FB', 'BJK', 'GS', 'TS']

In [ ]:
#Write python code that clears all characters except integers in the 
#given variable "str1" ​​and outputs only integers.

str1 =  'I am 25 years old and 10 months old'


print(str1[5:7] + str1[22:24])

2510

In [ ]:
sentence =  'I am 25 years and 10 months old'
text = filter(str.isdigit, sentence)
result = "".join(text)
print(result)

2510

In [ ]:
a = "* "
print(5*a)
print(4*a)
print(3*a)
print(2*a)
print(a)

* * * * *
* * * *
* * *
* *
*

In [ ]:
n= "* "
print (n*5,n*4,n*3,n*2,n*1,sep="\n")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5,0,-1):
  print(i * "* ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
satır = int(input("Lütfen satır sayısını giriniz: "));
for i in range (0,satır):
    for j in range (satır,i,-1):
        print("* ", end="")
    print()

Lütfen satır sayısını giriniz: 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input("enter mumber:"))

for i in range(rows, 0, -1):
  print(("* " * i), end="\n")

enter mumber:5
* * * * *
* * * *
* * *
* *
*

In [ ]:

satır = int(input("Lütfen satır sayısını giriniz: "))

for i in range(satır):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

Lütfen satır sayısını giriniz: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
row = int(input("row number: "))
for i in range(1, row):
  for j in range(1, i+1):
    print(j,end=" ")
  print()

row number: 5
1
1 2
1 2 3
1 2 3 4

In [ ]:
num = int(input("enter num: "))
for i in range(1,num+1):
  print(" " * (num-i) + i * "*")

enter num: 5
    *
   **
  ***
 ****
*****

In [ ]:
num = int(input(""))
space = (2 * num) - 2
for i in range(num) :
    print(" " * space + (i+1) * "* ")
    space -= 2

5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
word = "restart"
x = word.replace(word[0], "$") [1::]
print(word[0],x, sep="")

resta$t

In [ ]:
mystr="restart"
mystr=mystr[::-1].replace('r','$',1)[::-1]
print(mystr)

resta$t

In [ ]:
text = "restart"
text =text[0] + text[1:].replace(text[0], "$")
text

'resta$t'

In [ ]:
word = "restart"
a = word.replace("r", "$")[1:]
print(word[0]+a)

resta$t

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, num+1):
    space = " " * (num - i)
    print(space, *range(1, i+1), space)

Enter a number: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [ ]:

str = "abcdcdc"
str1 = "cdc"
str.count(str1)

1

In [ ]:
text = input("")
sub_text= input("")
count = 0
for i in range(len(text)) :
  if text[i:i+len(sub_text)] == sub_text :
    count += 1
print(count)

ata
araba
0

In [ ]:
s1 = "Hello"
s2 = "Marry"
print(s1[:len(s1)//2] + s2 + s1[len(s1)//2:])

HeMarryllo

In [ ]:
s1 = "oradaburada"
s2 = "şurada"
u1 = len(s1)
s3 = s1[0:round(u1/2)] + s2 + s1[round(u1/2):]
print(s3)

oradabşuradaurada

In [ ]:
word = "ARTkdkdRRFffrRYJ"
low = ""
up = ''

for i in word:
  if i.islower():
    low += i
  else:
    up += i
print(low + up)

kdkdffrARTRRFRYJ

In [ ]:
text = input("")
if len(text) < 2 :
  word = "Empty String"
else :
  word = text[0:1] + text[-2:]
print(word)

kasabali
kli

In [ ]:
word = "kasabbalilarla"
word = word[1:8]
print(word)

asabbal

In [ ]:
num = int(input(""))
scores = list(map(int, input("").split()))
runner_up =sorted(set(scores))[-2]
print(runner_up)

3
10 20 30
20

In [ ]:
print("'Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are"'')

'Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [ ]:
exam_date = "11,12,2014"
print(exam_date.replace(",", "/"))

11/12/2014

In [ ]:
exam_st_date = (11, 12, 2014)
print(*exam_st_date, sep=' / ')

11 / 12 / 2014

In [ ]:
num = int(input(""))
total = sum([i for i in range(1,num) if num % i == 0])
if total == num :
  print("{} is a perfect number.".format(num))
else:
  print("{} is not a perfect number.".format(num))

25
25 is not a perfect number.

In [ ]:
sentence = input("please enter a sentence : ")
new_st = ""
for i in sentence :
  if i.isalnum():
    new_st += i
if new_st[::-1].lower() == new_st[::].lower() :
  print("{} is a palindrome.".format(sentence))
else:
  print("{} is not a palindrome.".format(sentence))

please enter a sentence : kasaba halki
kasaba halki is not a palindrome.

In [ ]:
num = input("Enter a num: ")
total = 0
for i in num:
  total += int(i) ** len(num)

print(total == int(num))

Enter a num: 8
True

In [ ]:
num = input("Enter a num: ")
total = 0
for i in num:
  print(i)

Enter a num: 9
9

In [ ]:
num = input("")
toplam = sum([int(i) ** len(num) for i in num])
if int(num) == toplam :
  print(num, "is a armstrong number")
else:
  print(num, "is not a armstrong number")

8
8 is a armstrong number

In [ ]:
low, high = list(map(int, (input("").split())))

for num in range(low, high + 1):
  order = len(str(num))
  sum = 0
  for i in str(num):
    sum += int(i) ** order
  if num == sum:
    print(num)

8 10
8
9

In [ ]:
num = int(input("Please enter a number : "))
for i in range(11):
  print(num, "x", i, "=", num*i)

Please enter a number : 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
num = int(input("Please enter a number : "))
for i in range(11):
  print(f"{num} x {i} = {num*i}")

Please enter a number : 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for j in range(1, 11):
  for i in range(1, 11):
    print("".join(f"{i} x {j} = {i*j}" ).center(13), end="|")
  print()

  1 x 1 = 1  |  2 x 1 = 2  |  3 x 1 = 3  |  4 x 1 = 4  |  5 x 1 = 5  |  6 x 1 = 6  |  7 x 1 = 7  |  8 x 1 = 8  |  9 x 1 = 9  | 10 x 1 = 10 |
  1 x 2 = 2  |  2 x 2 = 4  |  3 x 2 = 6  |  4 x 2 = 8  |  5 x 2 = 10 |  6 x 2 = 12 |  7 x 2 = 14 |  8 x 2 = 16 |  9 x 2 = 18 | 10 x 2 = 20 |
  1 x 3 = 3  |  2 x 3 = 6  |  3 x 3 = 9  |  4 x 3 = 12 |  5 x 3 = 15 |  6 x 3 = 18 |  7 x 3 = 21 |  8 x 3 = 24 |  9 x 3 = 27 | 10 x 3 = 30 |
  1 x 4 = 4  |  2 x 4 = 8  |  3 x 4 = 12 |  4 x 4 = 16 |  5 x 4 = 20 |  6 x 4 = 24 |  7 x 4 = 28 |  8 x 4 = 32 |  9 x 4 = 36 | 10 x 4 = 40 |
  1 x 5 = 5  |  2 x 5 = 10 |  3 x 5 = 15 |  4 x 5 = 20 |  5 x 5 = 25 |  6 x 5 = 30 |  7 x 5 = 35 |  8 x 5 = 40 |  9 x 5 = 45 | 10 x 5 = 50 |
  1 x 6 = 6  |  2 x 6 = 12 |  3 x 6 = 18 |  4 x 6 = 24 |  5 x 6 = 30 |  6 x 6 = 36 |  7 x 6 = 42 |  8 x 6 = 48 |  9 x 6 = 54 | 10 x 6 = 60 |
  1 x 7 = 7  |  2 x 7 = 14 |  3 x 7 = 21 |  4 x 7 = 28 |  5 x 7 = 35 |  6 x 7 = 42 |  7 x 7 = 49 |  8 x 7 = 56 |  9 x 7 = 63 | 10 x 7 = 70 |
  1 x 8 = 8  |  2 x 8 = 16 |  3 x 8 = 24 |  4 x 8 = 32 |  5 x 8 = 40 |  6 x 8 = 48 |  7 x 8 = 56 |  8 x 8 = 64 |  9 x 8 = 72 | 10 x 8 = 80 |
  1 x 9 = 9  |  2 x 9 = 18 |  3 x 9 = 27 |  4 x 9 = 36 |  5 x 9 = 45 |  6 x 9 = 54 |  7 x 9 = 63 |  8 x 9 = 72 |  9 x 9 = 81 | 10 x 9 = 90 |
 1 x 10 = 10 | 2 x 10 = 20 | 3 x 10 = 30 | 4 x 10 = 40 | 5 x 10 = 50 | 6 x 10 = 60 | 7 x 10 = 70 | 8 x 10 = 80 | 9 x 10 = 90 |10 x 10 = 100|

In [ ]:
n = 50
for i in range(1,n+1):
    if  not i % 15:
       print("FizzBuzz")
    elif not i % 5:
        print("Buzz")
    elif not i % 3:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
toplam = 0
while True:
 a = input("bir sayı girin yada çıkış için q basın: ")
 if a == 'q' :
      break
 else:
        toplam += int(a)
print("sonuç=",toplam)

bir sayı girin yada çıkış için q basın: 5
bir sayı girin yada çıkış için q basın: 6
bir sayı girin yada çıkış için q basın: 9
bir sayı girin yada çıkış için q basın: 3
bir sayı girin yada çıkış için q basın: 22
bir sayı girin yada çıkış için q basın: 54
bir sayı girin yada çıkış için q basın: q
sonuç= 99

In [ ]:
#A jumbled list is given whose elements are consecutive numbers. 
#Write python code that outputs even numbers of missing numbers that 
#are between the smallest element and the largest element of the list, 
#but not shown in the list.

liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
 
missing_nums = [i for i in range(min(liste), max(liste)+1) if i % 2 == 0 and not i in liste]
print(* missing_nums)

8 12 14 32 38 40

In [ ]:
text = input("")
sonuc ={}
for i in range(len(text)):
  sonuc[i] = text[i]
print(sonuc)

kasaba
{0: 'k', 1: 'a', 2: 's', 3: 'a', 4: 'b', 5: 'a'}

In [ ]:
x = input("")
i = 1
toplam = 0
while i < int(x):
  toplam += i**3
  i += 1
print(toplam)

8
784

In [ ]:
liste = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9]
indeks = 0
uzunluk = len(liste)
while len(liste) > 0 :
  indeks = (2 + indeks) % uzunluk
  liste.pop(indeks)
  print(liste)
  uzunluk -= 1

[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 7, 8, 9]
[1, 2, 4, 5, 7, 8]
[1, 2, 5, 7, 8]
[1, 2, 5, 7]
[1, 2, 7]
[1, 7]
[1]
[]

In [ ]:
n=int(input("write a number : "))
arr = list(range(1,n+1))
while len(arr) > 1:
    arr.append(arr.pop(0))
    arr.append(arr.pop(0))
    arr = arr[1:]    
    print(sorted(arr))

write a number : 11
[1, 2, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 4, 5, 7, 8, 9, 10, 11]
[1, 2, 4, 5, 7, 8, 10, 11]
[2, 4, 5, 7, 8, 10, 11]
[2, 4, 7, 8, 10, 11]
[2, 4, 7, 8, 11]
[2, 7, 8, 11]
[2, 7, 8]
[2, 7]
[7]

In [ ]:
list1 = [1,2,3,4,5,6]
len = len(list1)
while len > 0:
  list1.insert(0, list1.pop())
  print(list1)
  len -= 1

[6, 1, 2, 3, 4, 5]
[5, 6, 1, 2, 3, 4]
[4, 5, 6, 1, 2, 3]
[3, 4, 5, 6, 1, 2]
[2, 3, 4, 5, 6, 1]
[1, 2, 3, 4, 5, 6]

In [ ]:
n=int(input("write a number : "))
liste = [1, 2, 3, 4, 5, 6, 7]
print(liste)
while n > 0:
    liste.insert(0, liste.pop())
    n -= 1
print(liste)

write a number :  5
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 1, 2]

In [ ]:
#Username and Password Login

defusername = "Michael"
defpassword ="1234"

name = input("Write User Name: ")
code = input("Write Password: ")

if ((defusername == name) and (defpassword == code)):
  print("Welcome Your Account")
elif ((defusername != name) and (defpassword == code)): 
  print("Wrong User Name")
elif ((defusername == name) and (defpassword != code)):
  print("Did You Forget Password")
else:
  print("Try Again")

Write User Name: ajjsks
Write Password: jdkd
Try Again

In [ ]:
name = input("What is your name: ").split()
abbre = len(name)

if abbre == 2:
  print(f"{name[0][0].upper()}.{name[1].capitalize()}")
elif abbre == 3:
  print(f"{name[0][0].upper()}.{name[1][0].upper()}.{name[2].capitalize()}")
else:
  print("Try Again!")

What is your name: ahmet ali ata
A.A.Ata

In [ ]:
name = list(map(str.title, input("").split()))
print("{}.{}.{}".format(name[0][0],name[1][0],name[2]))

ali ahmet kaya
A.A.Kaya

In [ ]:
#Write a program that takes a maximum two-digit (1-99)
# number from the user and finds the pronunciation of that number.
#For example:
#İnput:97
#Output:Doksan Yedi

s = int(input("Please enter max two digit number: "))
dic = {1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five", 6:"Six", 7:"Seven",
8:"Eight", 9:"Nine", 10:"Ten", 20:"Twenty", 30:"Thirty", 40:"Forty", 50:"Fifty",
 60:"Sixty", 70:"Seventy", 80:"Eighty", 90:"Ninty"}
if s<=10:
  print(dic[s])
else:
  print(dic[s - s%10], dic[s%10])

Please enter max two digit number: 55
Fifty Five

In [ ]:
for x in range(1, 50):
  for y in range(x, 50):
    for z in range(y, 50):
      if x ** 2 + y ** 2 == z ** 2:
        print(x,y,z)

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
9 40 41
10 24 26
12 16 20
12 35 37
15 20 25
15 36 39
16 30 34
18 24 30
20 21 29
21 28 35
24 32 40
27 36 45

In [ ]:
string = input("Write a string: ")
string = string[::2]
print(string)

Write a string: araba
aaa

In [ ]:
word = input("")
new_word = ""
for i in range(len(word)):
  if i % 2 == 0:
    new_word += word[i]
print(new_word)

kasaba
ksb

In [ ]:
list = list(map(int, input("Enter your numbers seperate with space: ").split()))
sets = set(list)
if len(list) == len(sets):
    print("All numbers are different each others")
else:
    print("Some of the given numbers are the same")

Enter your numbers seperate with space: 5 8 9 12
All numbers are different each others

In [ ]:
number = input("")
print(len(set(number)) == len(number))

45820
True

In [ ]:
str = input("").lower()
print(str[::] == str[::-1])

kazak
True

In [ ]:
#Exercise -33
#You are given a string .
#Your task is to find out if the string  contains: alphanumeric characters, alphabetical characters, digits, lowercase and uppercase characters.
#Input Format
#A single line containing a string .
#Output Format
#In the first line, print True if  has any alphanumeric characters. Otherwise, print False.
#In the second line, print True if  has any alphabetical characters. Otherwise, print False.
#In the third line, print True if  has any digits. Otherwise, print False.
#In the fourth line, print True if  has any lowercase characters. Otherwise, print False.
#In the fifth line, print True if  has any uppercase characters. Otherwise, print False.
text = input("")
print(any(i.isalnum() for i in text))
print(any(i.isalpha() for i in text))
print(any(i.isdigit() for i in text))
print(any(i.islower() for i in text))
print(any(i.isupper() for i in text))

aksiARC456FF
True
True
True
True
True

In [ ]:
#kullanıcıdan 3 sayı ve bir n sayısı girilmesi isteniyor. alınan sayıların her
#birinden 0 dan kendisine kadar oluşan kombinasyonlar yapacağız ancak eğer 
#listedeki sayıların toplamı n sayısına eşit olursa o listeyi pas geçip 
#yazdırmayacağız.
x, y, z, n = int(input("")), int(input("")), int(input("")), int(input(""))
ls = []
for i in range(1,x +1) :
  for j in range(1,y + 1) :
    for k in range(1,z + 1) :
      if i + j + k != n :
        ls.append([i,j,k])
print(ls)

2
3
4
5
[[1, 1, 1], [1, 1, 2], [1, 1, 4], [1, 2, 1], [1, 2, 3], [1, 2, 4], [1, 3, 2], [1, 3, 3], [1, 3, 4], [2, 1, 1], [2, 1, 3], [2, 1, 4], [2, 2, 2], [2, 2, 3], [2, 2, 4], [2, 3, 1], [2, 3, 2], [2, 3, 3], [2, 3, 4]]

In [ ]:
list1=[0,1,2,3,4,5,6,7,8,9]
list2=[1,2,3,5]
set1=set(list1)
set2=set(list2)
print(set1.difference(set2))

{0, 4, 6, 7, 8, 9}

In [ ]:
#Exercise- 36 : A number is said to be Harshad if it's exactly divisible by the 
#sum of its digits. Create a code that determines whether a number is a Harshad
#or not.
num = input("")
print(int(num) % sum([int(i) for i in num]) == 0)

412
False

In [ ]:
num = input("")
sum = 0
for i in num:
  i = int(i)
  sum += i
if int(num) % sum == 0:
  print(True)
else:
  print(False)

10
True

In [ ]:
#Exercise 37
#Try to find out if a number you get from the user is perfect.
#A number is called a "perfect number" if the sum of its divisors is 
#equal to 
#itself. For example, 6 is a perfect number. (1 + 2 + 3 = 6)

num = int(input(""))
total = 0
for i in range(1,num) :
  if num % i == 0 :
    total += i
if total == num :
  print("{} is a perfect number.".format(num))
else :
  print("{} is not a perfect number.".format(num))

25
25 is not a perfect number.

In [ ]:
l1= [12, 15, 25, 44, 9]
l2 = ["New York" , "Alabama", "Hawaii", "Vermont", "Virginia"]
l3 = list(zip(l1, l2))
print(l3)

[(12, 'New York'), (15, 'Alabama'), (25, 'Hawaii'), (44, 'Vermont'), (9, 'Virginia')]

In [ ]:
list1 = [195, 488, 142, 626, 180]
list2 = ["New York", "Alabama", "Hawaii", "Vermont", "West Virginia"]
list_merged = []
i = 0
while(i < len(list1) and i < len(list2)):
    list_merged.append((list1[i], list2[i]))
    i += 1
print(list_merged)

[(195, 'New York'), (488, 'Alabama'), (142, 'Hawaii'), (626, 'Vermont'), (180, 'West Virginia')]

In [ ]:
# Lovesme or Loves me not
n = int(input(""))
papatya = ["Loves me", "Loves me not" ]
yeni_papatya = []
if n == 1 :
  print(papatya[0].upper())
else:
  for i in range(1,n + 1) :
    if i % 2 == 1 :
      yeni_papatya += [papatya[0]]
    elif i % 2 == 0 :
      yeni_papatya += [papatya[1]]
  yeni_papatya  = yeni_papatya[:-1] + [yeni_papatya[-1].upper()]
  print(", ".join(yeni_papatya))

4
Loves me, Loves me not, Loves me, LOVES ME NOT

In [ ]:
right_hand = {"u", "ı", "o", "p", "ğ", "ü", "h", "j", "k", "l", "ş", "i", "n", "m", "ö", "ç"}
left_hand = {"q", "w", "e", "r", "t", "y", "a", "s", "d", "f", "g", "z", "x", "c", "v", "b"}
word = set(input("please write a word: "))
print(word.intersection(right_hand) and word.intersection(left_hand) and True or False)

please write a word: michael
True

In [ ]:
l1 = [1,3,5,7]
l2 = [1,5,8,1]
print(l1[0]==l2[0] or l1[-1] == l2[-1])

True

In [ ]:
a , b = int(input("a kenar uzunlugu: ")), int(input("b kenar uzunlugu: "))
c = (a**2 + b**2)**0.5
print(c)

a kenar uzunlugu: 8
b kenar uzunlugu: 12
14.422205101855956

In [ ]:
num_list = [4, 8, 18, 55, 35, 67]
n = int(input("my number: "))
for i in num_list:
  if n < i:
    print(str(n), " is smaller at least one of num_list")
print(str(n), " is bigger than all numbers in num_list")

my number: 88
88  is bigger than all numbers in num_list

In [ ]:
x = int(input(""))
faktorial = 1
for i in range(1, x+1):
  faktorial *=i
print(faktorial)

8
40320

In [ ]:
toys_number, budget = list(map(int, input("").split()))
prices = list(map(int, input("").split()))
count = 0
total = 0

for i in sorted(prices) :
  if total + i <= k :
    count +=1
    total +=i
  else:
    break
print(count)

5 50
22 33 55 62 14
2

In [ ]:
n=int(input("Enter no of rows:"))
print('\n')
a=[]
for i in range(n):
  
    a.append([])
    a[i].append(1)
    for j in range (1,i):
        a[i].append(a[i-1][j-1]+a[i-1][j])
    if (n!=0):
        a[i].append(1)
for i in range(n):
    print("    "*(n-i),end=" ",sep=" ")
    for j in range(0,i+1):
        print("{0:6}".format(a[i][j]),end=" ",sep=" ")
    print()

Enter no of rows:6


                              1
                          1      1
                      1      2      1
                  1      3      3      1
              1      4      6      4      1
          1      5     10     10      5      1

In [ ]:
num = 6
liste = []
for i in range(1,num+1):
  sayac = 0
  liste1 = []
  for j in liste:
    liste1.append(sayac + j)
    sayac = j
  liste1.append(1)
  liste = liste1
  print(liste)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [ ]:
start, end, incr = list(map(int, input("").split()))
print(*range(start, end, incr))

0 12 3
0 3 6 9

In [ ]:
#Write a program that shows which letter is used how many times in the text 
#received from the user.
text = input("Write a text: ")
my_dict = {}

for i in text:
  if i in my_dict:
    my_dict[i] += 1
  else:
    my_dict[i] = 1
for i, j in my_dict.items():
  print(f"The letter '{i}' occurs '{j} times")

Write a text: tente
The letter 't' occurs '2 times
The letter 'e' occurs '2 times
The letter 'n' occurs '1 times

In [ ]:
for i in range(100, 1000): 
  a = i % 10
  b = i // 10 % 10
  c = i // 100
  if pow(a,3) + pow(b,3) + pow(c,3) == i:
    print(i)

153
370
371
407

In [ ]:
a, b = 0, 1
fibonacci = [a, b]
for i in range(98) :
  a, b = b , a + b
  fibonacci += [b]
print(fibonacci)
print(len(fibonacci))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]
100

In [ ]:
ways = "DDUUUUDD"
sea_level = field = 0

for i in ways :
  if ways == "U":
    sea_level += 1
  else:
    sea_level -= 1
  if i == "U" and sea_level == 0:
    field += 1
print(field)

0

In [ ]:
s = input("").split()
print(f"The last word of sentence is '{s[-1]}' and it has {len(s[-1])} letters.")

I want to be a developer.
The last word of sentence is 'developer.' and it has 10 letters.

In [ ]:
liste1 = [9,9,9,9,9,9,9,9,9]
liste2 = [9,9,9,9]

str_liste1 = "".join([str(i) for i in liste1[::-1]])
str_liste2= "".join([str(j) for j in liste2[::-1]])

print(list(str(int(str_liste2) + int(str_liste1)))[::-1])

['8', '9', '9', '9', '0', '0', '0', '0', '0', '1']